form:before, form:after{
    content: "";
    display: table;
}

form:after{
    clear:both;
}

form{
    float: left;
    border: red solid;
    zoom:1;
}

form>div{
    float: left;
}

form>div>input{
    display: block;
}

output{
    display: block;
    text-align: right;
}
