@CHARSET "UTF-8";

/* set-up for ems */
body{
	font-size: 100%;
}

/* setup form to take full screen  */
form{
    position:absolute;
    top:0;
    left:0;
	
	width: 100%;
	height: 100%;
}

/* 
put number field and operators side-by-side
*/

form>div{
	float: left;
    top: 0;
	height: 85%;
}

#numField{
    width: 75%;
}

#operators{
	width: 25%;
}

/*
display four functions in column
*/
#operators>input{
	display:block;
}

input{
	width: 15em;
	height: 15em;
	margin-left: 3em;
	
}

output{
    display: block;
    text-align: right;

    margin-right: 5%;
    line-height: 100%;

    height:15%;
    font:100%;
}
